name: Sync to Hugging Face Hub
on:
  push:
    branches: [main] # Runs every time you push to the main branch
  workflow_dispatch: # Allows you to run this manually from the Actions tab

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true # Ensures large files (models/data) are handled correctly

      - name: Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git remote add hf https://gurunagesh1477:$HF_TOKEN@huggingface.co/spaces/gurunagesh1477/WhatsApp-Chat-Analysis-Dashboard-App
          git push --force hf main
