name: Sync to Hugging Face

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set Git User
        run: |
          git config --global user.email "mudamochuguru@gmail.com"
          git config --global user.name "Gurunagesh"

      - name: Deploy to Hugging Face
        run: |
          set -euo pipefail
          deploy_dir=$(mktemp -d)
          echo "deploy dir: $deploy_dir"
          git init $deploy_dir
          cd $deploy_dir
          git checkout -b hf-deploy
          # Copy only necessary files
          rsync -av --exclude='.git' --exclude='venv' --exclude='/tmp' --exclude='/systemd-private-*' ../ ./
          git add .
          git commit -m "Deploy to Hugging Face"
          git remote add hf "https://gurunagesh1477:${HF_TOKEN}@huggingface.co/spaces/gurunagesh1477/WhatsApp-Chat-Analysis-Dashboard-App"
          git push --force hf hf-deploy:main